<div class="container main">
  <div class="title">
    <h1>My Profile Homepage</h1>
  </div>
  <br>
  <button type="button" class="btn btn-primary">
    <%= link_to 'Profile Under Construction With Bootstrap', second_page_path, :class => "btn" %>
  </button>
</div>
