.profile {
  background-image: linear-gradient(to right top, #050737, #004286, #007eab, #00b888, #3eeb12);
}
.title h1 {
  justify-content: center;
}

.education ul {
  list-style: none;
}

.centered {
  text-align: center;
  margin: auto;
}
